@charset "utf-8";

body {
				background: DarkGoldenRod;
				font: 100% Georgia, Times, serif;
			}
			h1 {
				font: 300% Times New Roman, Times, serif;
				color: CornSilk;
			}
			h2 {
				font: 150% Arial, Helvetica, sans-serif;
			}
			p {
				color: brown;
			}
			#wrapper {
				width: 1100px;
				margin: 0 auto;
				padding: 0 50px;
				text-align: left;
				position: relative;
			}
			header#mainHeader {
				height: 185px;
				background: url(images/mylogo.png) no-repeat 25px top;
				padding: 0 75px 4px 300px;
				position: relative;
				border-bottom: 2px solid #7f7f7f;
				margin-bottom: 16px;
			}
			header#mainHeader div {
				margin-top: 16px;
			}
			header#mainHeader h1 {
				font-size: 50px;
				color: BurlyWood;
			}
			header#mainHeader h2 {
				color: Bisque;
			}
			header#mainHeader ul {
				list-style: none;
				float: left;
			}
			header#mainHeader ul li {
				float: left;
			}
			header#mainHeader ul li a {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 20px;
				color: #ffffff;
				padding: 0 20px;
				border-right: 1px solid #ffffff;
				text-decoration: none;
			}
			header#mainHeader ul li a.last {
				border: none;
			}
			header#mainHeader ul li a:hover {
				color: #c00000;
			}
			section#content {
				float: left;
				width: 600px;
				padding: 0 10px 0 25px;
				margin-bottom: 10px;
				border-right: 1px solid #7f7f7f;
			}
			section#content h1#contentHeader {
				color: BurlyWood;
				font-size: 50px;
			}
			section#content h1 {
				font-size: 40px;
			}
			section#content h2 {
				color: #666;
			}
			section#content p {
				color: #000;
				font-size: 16px;
				line-height: 1.6;
				margin-bottom: 10px;
			}
			section#content ul {
				color: #000;
			}
			aside#hobbies {
				font-size: 90%;
				float: right;
				width: 450px;
				margin-bottom: 20px;
			}
			footer#pageFooter {
				clear: both;
				border-top: 2px solid #7f7f7f;
				padding: 20px;
			}
			footer#pageFooter p {
				text-align: center;
				font-style: italic;
				margin-bottom: 10px;
				color: #666;
			}